@using System.ComponentModel.DataAnnotations
@using Services
@inject EventsService EventsService
@inject NavigationManager NavigationManager

<h3>Event Card</h3>
<EditForm Model="@Event" OnValidSubmit="@SaveEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="event-card">
        <label for="eventName">Event Name:</label>
        <input id="eventName" @bind="Event.Name" size="50"/>
        <br>

        <label for="eventDate">Event Date:</label>
        <input id="eventDate" type="date" @bind="Event.Date"/>
        <br>

        <label for="eventDescription">Event Description:</label>
        <textarea id="eventDescription" @bind="Event.Description"></textarea>
        <br>
        <label for="eventLocation">Event Location:</label>
        <input id="eventLocation" @bind="Event.Location" size="50"/>
        <br>

        <style>
            .message-box {
                border: 1px solid #ccc;
                background-color: #f9f9f9;
                padding: 10px;
                margin-top: 10px;
                border-radius: 5px;
                text-align: center;
            }
        </style>

        <div class="message-box">
            <p>@message</p>
        </div>
        <br>    
    </div>
    <button type="submit">Save Event</button>
</EditForm>

@code {
    [Parameter]
    [Required]
    public Event Event { get; set; } = new();
    public string message { get; set; } = "";

    private async Task SaveEvent()
    {
        EventsService.SaveEvent(Event);
        message = "Event " + Event.Name + " Saved. Redirecting to Event List...";
        Event = new Event();
        await Task.Delay(3000);
        message = "";
        NavigationManager.NavigateTo("/eventlist", forceLoad: true);
    }
}